@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    line-height: 1.7;
}
a{
	word-wrap: break-word;
}
p{
	margin-bottom: 4px;
}
h5,h4,b{
	color: #713131;
}
header{
    color: #FFF;
    background: #623C3C;
	margin-bottom: 1rem;
	padding: 0.4rem 1rem;
}
header h2{
	font-size: 26px;
	margin-bottom: 0;
}
.section-title{
	border-bottom: 2px dotted #713131;
	margin-bottom: 5px;
}
.section-content{
	margin-bottom: 2rem;
}
.photo-affix img {
    width: 100%;
    height: auto;
    vertical-align: top;
    border: 2px solid #F0F0f0;
}


@media print {
	.container{
		min-width: 960px;
	}
  .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
}

